# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Build and deploy

on:
  push:
  release:
    types:
      - published

jobs:
  dist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6

      - name: Build SDist and wheel
        run: pipx run --spec build pyproject-build

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v5
        with:
          path: dist/*
  publish:
    needs: [ dist ]
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
